ssh_user = "root"
ssh_ip = "your_server_ip"
ssh_password = "your_ssh_pass"
site_folder_name = "example.com"
static_files_folder="static"
media_files_folder="media"
virtual_env_name="venv"
project_name = "CMS"
domain_list = 'www.example.com example.com'
sites_container_folder = "/home/server/"
github_user_name = "git_username"
github_password = "password"
github_repository_name = "django_cms"
requirements_file_name="requirements.txt"